# Ambiente virtual
.venv/

# Cache do Python
__pycache__/

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Configurações locais do VS Code
.vscode/

# Arquivos compilados
*.pyc

# Arquivos do sistema
.DS_Store
Thumbs.db